* {
    margin: 0;
    padding: 0;
}
header {
    height: 800px;
    background: url(img/first-bg.jpg) no-repeat;
    background-size: cover;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
nav li {
    margin-left: 40px;
}
nav img,nav ul,nav li {
    display: inline-block;    
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 65px;
}
.welcome {
    color: #ffffff;
    margin-top: 205px;
    text-align: center;

}
.welcome h2 {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: unset;
    font-size: 40px;
    margin-bottom: 50px;
}
.welcome h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 60px;
}
.welcome a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 0px ;
    width: 240px;
}
.welcome button {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    align-items: center;
    background-color: #FED136;
    border: none;
    border-radius: 3px;
}


.services_section {
    box-sizing: border-box;
    height: 540px;
    /* position: relative; */
}
.services {
    text-align: center;
    margin-top: 120px;
}
.services h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
 p {
    font-family: 'PT Serif', serif;
    font-size: 21px;
    font-style: italic;
    color: #808080;
}
.cards_block{
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 120px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    /* height: 185px; */
}
.services_card {
    display: inline-block;
    max-width: 325px;
}
.services_text {
    margin-top: 25px;
}
.services_text h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}
.services_text p{
    font-family: 'PT Serif', serif;
    font-size: 19px;
    font-style: italic;
    color: #808080;
}

.portfolio {
    background-color: #F7F7F7;
    height: 1220px;
    padding-bottom: 70px;
    
}
.portfolio_text {
    padding-top: 120px;
    text-align: center;
}
.portfolio_text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.portfolio_text p {
       color: #808080; 
       font-style: italic;
       font-size: 21px;
       margin-top: 20px;
       margin-bottom: 80px;
}
.portfolio_cards_block {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
} 
.portfolio_cards_text {
    background-color: #fff; 
    margin-bottom: 50px;  
}
.portfolio_cards_text h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 28px;
}
.portfolio_cards_text p {
    padding-bottom: 28px;
    color: #808080;
    font-size: 18px;
    font-style: italic;
}




.about_us_text {
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 70px;
    text-align: center;
}
.about_us_text h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
}
.about_us_text_container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.about_us_text_container p {
    font-size: 18px;
    min-height: 100px;
}
.about_us_container {
    width: 70%;
    margin: 0 auto;
} 
.left_container, .right_container{
    display: flex;  
    margin-bottom: 90px;  
}
.about_us_text_container,.about_us_img_container, .empty {  
    width: 100%;
    display: flex;
    
}
.about_us_img_container, .empty  {
    justify-content: center;
    align-items: center;
}
.about_us_text_container {
    flex-direction: column;
}
.left_container .about_us_text_container {
    text-align: right;
}
.empty {
    content: ' ';
}
.about_us_img_container {  
    flex-grow: 1;
}
.about_us_text_container, .empty {
    flex-grow: 2;
}

.about_us_text_container p {
    /* max-width: 300px; */
}

.about_us_text_container {
    /* min-height: 50px;   */
}

.our_story_container {
    margin: 0 auto;
    margin-bottom: 90px;  
    text-align: center;
    background-color: #FED136;
    height: 177px;
    width: 177px;
    border: 7px solid #F1F1F1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.our_story_container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}


.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F9F9F9;
}
.team_text {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px ;
}
.team_text h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.people {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.people_block {
    text-align: center;
}
.people_block h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.feedback {
    display: flex;
    justify-content: center;
}
.decription_below_people {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 60px;
}
/* .twitter {
    background-image: url(img/);
}
.twitter:hover {
    background-image: url(img/);
}
.facebook{
    background-image: url(img/);
}
.facebook:hover{
    background-image: url(img/);
}
.pinterest {
    background-image: url(img/);
}
.pinterest:hover {
    background-image: url(img/);
}
.google{
    background-image: url(img/);
}
.google:hover{
    background-image: url(img/);
} */
.sponsors {

    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.contact_us {
    background: no-repeat url(img/Map_Image_cut.png);
    background-size: cover;
}
.contact_us_text {
    padding-top: 120px;
    padding-bottom: 60px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.contact_us_text h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}
form {
    width: 70%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* text-align: center; */
    /* display: flex;
    justify-content: center; */
    
}
.name_mail_text input {
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    min-height: 50px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}
.name_mail_text input:nth-last-child(1) {
    margin: 0;
}
.message {
    display: flex;
    align-items: flex-start;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 30px;
    min-height: 210px;
    font-size: 14px;
    box-sizing: border-box;
}
.name_mail_text, .message {
    width: 45%;
}
.name_mail_text input{
    display: block;
}
.btn {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 115px;
}
.contact_us button {

    box-sizing: border-box;
    align-items: center;
    background-color: #FED136;
    border: none;
    border-radius: 3px;
}
.contact_us button a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 0px ;
    width: 240px;
}

footer {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.footer_text, .feedback_footer, .empty_footer {
    width: 100%;
    flex-grow: 1;
    display: flex;
}
.footer_text p {
    font-size: 17px;
}
.feedback_footer {
    justify-content: center;
    align-items: center;
}
.feedback_footer img {
    padding: 0 8px;
}
.empty_footer {
    content: ' ';
}